/* default */
article,aside,details,figcaption,figure,footer,header,hgroup,nav,section,summary{display:block}
audio,canvas,video{display:inline-block;*display:inline;*zoom:1}
audio:not([controls]){display:none;height:0}
[hidden]{display:none}
html{font-size:20px;-webkit-text-size-adjust:none;-ms-text-size-adjust:none;-webkit-tap-highlight-color: rgba(0, 0, 0, 0)}
html,button,input,select,textarea{font-family:Arial, Simhei, '黑体', Microsoft Yahei, "微软雅黑", sans-serif;color:#434343}
body{margin:0}
a{color:#363636;font-weight:lighter;outline:none !important}
/*a:hover{color:#e20821}*/
a:link{text-decoration:none}
a:focus{outline:thin dotted}
a:active,a:hover{outline:0;text-decoration:none}
h1{font-size:2em;margin:0}
h2{font-size:1.5em;margin:0}
h3{font-size:1.17em;margin:0}
h4{font-size:1em;margin:0}
h5{font-size:0.83em;margin:0}
h6{font-size:0.75em;margin:0}
abbr[title]{border-bottom:1px dotted}
b,strong{font-weight:bold}
blockquote{margin:1em 40px}
dfn{font-style:italic}
mark{background:#ff0;color:#000}
p,pre{margin:0}
code,kbd,pre,samp{font-family:monospace,serif;_font-family:'courier new',monospace;font-size:1em}
pre{white-space:pre;white-space:pre-wrap;word-wrap:break-word}
q{quotes:none}
q:before,q:after{content:'';content:none}
small{font-size:80%}
sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}
sup{top:-0.5em}
sub{bottom:-0.25em}
dl,menu,ol,ul{margin:0;padding:0}
nav ul,nav ol,ul,ol{list-style:none;list-style-image:none}
img{border:0;-ms-interpolation-mode:bicubic;}
svg:not(:root){overflow:hidden}
figure{margin:0}
form{margin:0}
fieldset{border:1px solid #c0c0c0;margin:0 2px;padding:0.35em 0.625em 0.75em}
legend{border:0;padding:0;white-space:normal;*margin-left:-7px;}
button,input[type="text"],input[type="password"],input[type="number"],input[type="tel"],input[type="date"],input[type="email"],input[type="submit"],input[type="reset"],select,textarea{font-size:100%;margin:0;vertical-align:baseline;*vertical-align:middle;background:none;border:0;padding:0;-webkit-appearance:none;border-radius:0}
button,input,areatext{line-height:normal;outline:none !important}
button,html input[type="button"],input[type="reset"],input[type="submit"]{-webkit-appearance:button;cursor:pointer;*overflow:visible;}
button[disabled],input[disabled]{cursor:default}
input[type="checkbox"],input[type="radio"]{box-sizing:border-box;padding:0;*height:13px;*width:13px;}
input[type="search"]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box}
input[type="search"]::-webkit-search-cancel-button,input[type="search"]::-webkit-search-decoration{-webkit-appearance:none}
button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0}
textarea{overflow:auto;vertical-align:top;}
table{border-collapse:collapse;border-spacing:0}
ul{margin:0px;padding:0px}
em{font-style:inherit}
hr{display:block;clear:both;zoom:1;height:0;line-height:0;border:0;padding:0;content:"";font-size:0}
img{display:block;max-width:100%;height:auto;margin:0 auto}

/*::-webkit-scrollbar{display:none;width:0}*/

/* public style */
.clearFix:after{clear:both;content:".";display:block;font-size:0;height:0;line-height:0;visibility:hidden}
.clearFix{clear:both;zoom:1}
.floatL{display:inline;float:left}
.floatR{display:inline;float:right}

/* FlexSlider Necessary Styles */
.flexslider{margin:0;padding:0}
.flexslider .slides > li{display:none;-webkit-backface-visibility:hidden}
.flex-pauseplay span{text-transform:capitalize}

/* Clearfix for the .slides element */
.slides:after{content:"\0020";display:block;clear:both;visibility:hidden;line-height:0;height:0}
html[xmlns] .slides{display:block}
* html .slides{height:1%}

/* No JavaScript Fallback */
.no-js .slides > li:first-child{display:block}

/* FlexSlider Default Theme */
.flexslider{position:relative;zoom:1}
.flex-viewport{max-height:2000px;-webkit-transition:all 1s ease;-moz-transition:all 1s ease;-o-transition:all 1s ease;transition:all 1s ease}
.loading .flex-viewport{max-height:300px}
.flexslider .slides{zoom:1}
.flexslider .slides img{display:block;max-width:100%;height:auto;margin:0 auto}
.carousel li{margin-right:5px}

/* Control Nav */
.flex-control-nav{position:absolute;left:0;bottom:1.5rem;width:100%;height:0;text-align:center}
.flex-control-nav li{margin:0 .2rem;display:inline-block;zoom:1}
.flex-control-paging li a{width:.6rem;height:.6rem;display:block;background:#fff;border-radius:.3rem;cursor:pointer;text-indent:-9999px}
.flex-control-paging li a.flex-active{background:#259c57;cursor:default}

/* Direction Nav */
.flex-direction-nav{position:fixed;left:0;top:50%;width:100%}
.flex-direction-nav a{text-decoration:none;display:block;width:3rem;height:6rem;margin-top:-3rem;line-height:6rem;font-size:3rem;color:#fff;position:absolute;top:0;background-color:#ea5514;overflow:hidden;box-sizing:border-box}
.flex-direction-nav .flex-prev{left:0;border-radius:0 3rem 3rem 0;padding-left:.6rem}
.flex-direction-nav .flex-next{right:0;border-radius:3rem 0 0 3rem;text-align:right;padding-right:.6rem}
.flex-direction-nav .flex-disabled{opacity:0!important;filter:alpha(opacity=0);cursor:default}

/* row */
.row_1{width:100% !important}
.row_2{width:50% !important}
.row_3{width:33.33333% !important}
.row_4{width:25% !important}
.row_5{width:20% !important}

/* Popup */
.popupbg{display:none;position:fixed;left:0;top:0;width:100%;height:100%;background-color:rgba(255,255,255,.4);z-index:99}
.popupbox{display:none;position:absolute;z-index:100}

/* Form */
.iptForm li{padding-left:160px;position:relative;min-height:60px;margin-bottom:20px;font-size:32px}
.iptForm li.full{padding-left:0}
.iptForm li strong{position:absolute;left:0;top:0;line-height:60px;font-size:32px;font-weight:lighter}
.iptForm li strong em{position:absolute;left:-20px;color:#ed1c24}
.iptForm li input{width:100%;height:60px;line-height:56px;border:2px solid #fbbc00;box-sizing:border-box;font-size:32px;padding:0 16px}
.iptForm li input[type=checkbox]{width:32px;height:32px}
.iptForm li.rule{padding-left:48px}
.iptForm li.rule input{position:absolute;left:0;top:0}
.iptForm li.btn{padding-top:20px}
.iptForm li.btn .btnConform{width:100%}
.iptForm li.code .button{position:absolute;right:9px;top:9px}
.iptForm .iptTip{line-height:60px;color:#999}

/* Icon LJ */
.lj{display:inline-block;margin:0;padding:0;vertical-align:middle;background:no-repeat left top}
.lj-egg-1, .lj-egg-2, .lj-egg-3, .lj-egg-4{width:47px;height:48px}
.lj-egg-1{background-image:url(../imgs/lj-egg-1.png)}
.lj-egg-2{background-image:url(../imgs/lj-egg-2.png)}
.lj-egg-3{background-image:url(../imgs/lj-egg-3.png)}
.lj-egg-4{background-image:url(../imgs/lj-egg-4.png)}
.lj-back{width:42px;height:33px;background-image:url(../imgs/lj-back.png)}
.lj-cart{width:74px;height:59px;background-image:url(../imgs/lj-cart.png)}
.lj-coupon{width:81px;height:57px;background-image:url(../imgs/lj-coupon.png)}
.lj-voucher{width:95px;height:55px;background-image:url(../imgs/lj-voucher.png)}
.lj-check-red{width:27px;height:27px;background-image:url(../imgs/lj-check-red.png)}
.lj-arrow-prev, .lj-arrow-next{width:25px;height:48px;background-image:url(../imgs/lj-arrow-prev.png)}
.lj-arrow-next{background-image:url(../imgs/lj-arrow-next.png)}

/* Button */
.button{display:inline-block;width:auto;padding:0 50px;margin:0 auto;height:80px;color:#fff;text-align:center;font-size:40px;background-color:#fc8b11;border:5px solid #fbbc00;border-radius:5px}
a.button{line-height:70px;box-sizing:border-box}
.button.btn-nobr{border:0}
.button.btn-nordu{border-radius:0}
.button.btn-sm{font-size:24px;height:42px;line-height:42px;padding:0 20px}

/* sprite background */
.spriteCard, .spriteCardFailure{position:absolute;left:50%;top:50%;margin:-532.5px 0 0 -377px;height:1065px;width:754px;background:url(../imgs/spriteCard.png) no-repeat center top;box-sizing:border-box}
.spriteCard h2{text-align:center;font-size:60px;font-weight:bold;color:#fff;line-height:84px;text-shadow:1px 1px #fbbc00, 1px -1px #fbbc00, -1px 1px #fbbc00, -1px -1px #fbbc00, 0 0 10px #fbbc00}
.spriteCard h2 span{color:#fc8b11;font-size:70px}

.spriteCardFailure{background-image:url(../imgs/spriteCardFailure.png)}
.spriteCardFailure h2{text-align:center;font-size:60px;font-weight:bold;color:#fff;line-height:84px}
.spriteCardFailure h2 span{color:#fc8b11;font-size:70px}

/*************************************/
body{width:800px;margin:0 auto;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;-webkit-user-select:none;-moz-user-select:none}

/* Login */
#login, #register{position:absolute;left:0;top:0;width:100%;min-height:1111px;height:100%;box-sizing:border-box;padding:23px 0}

/* loginCard */
.loginCard{padding-top:170px}
.loginCard p{margin:70px 0}
.loginCard .button{width:500px;display:block}

/* loginUserCard */
.loginUserCard{padding-top:176px}
.loginUserCard .head{width:236px;height:236px;border-radius:118px;margin:0 auto;border:5px solid #fbbc00;overflow:hidden;background-color:#fafafa;box-shadow:inset 0 -3px 3px rgba(0,0,0,.75)}
.loginUserCard .head img{width:236px;height:236px}
.loginUserCard strong{display:block;font-size:50px;text-align:center;color:#fff;line-height:56px;margin:30px 0 50px;text-shadow:1px 1px #fbbc00, 1px -1px #fbbc00, -1px 1px #fbbc00, -1px -1px #fbbc00, 0 0 10px #fbbc00}
.loginUserCard p{text-align:center;color:#fff;font-size:45px;line-height:78px;font-weight:bold;text-shadow:1px 1px #fbbc00, 1px -1px #fbbc00, -1px 1px #fbbc00, -1px -1px #fbbc00, 0 0 10px #fbbc00}
.loginUserCard p em{font-size:64px;color:#fc8b11;margin:0 10px}
.loginUserCard .button{width:500px;margin-top:100px;display:block}

/* Register */
.regLoadCard{padding-top:200px}
.regLoadCard h2{font-size:64px}
.regLoadCard h2 span{font-size:80px}
.regLoadCard .button{margin-top:100px;width:500px;display:block}
.registerBox{margin:0 40px}
.registerBox .regUser{text-align:center}
.registerBox .regUser p{display:inline-block;vertical-align:middle;width:184px;height:184px;margin-right:50px;overflow:hidden;border-radius:92px;box-shadow:0 3px 3px rgba(0,0,0,.75)}
.registerBox .regUser strong{font-size:40px;margin-right:20px}
.registerBox .regForm{margin-top:100px}
.registerBox .regTags{text-align:center}
.registerBox .regTags label{position:relative;display:inline-block;width:30%;height:48px;background-color:#fbbc00;line-height:48px;font-size:32px;color:#fff;text-align:center;margin:0 6px 16px;cursor:pointer}
.registerBox .regTags label em{display:none;position:absolute;right:-10px;top:-10px}
.registerBox .regTags label.act em{display:block}
.registerBox .regTags input{display:none}

/* popPoints */
.popPoints{padding-top:180px}
.popPoints p{margin-top:80px}
.popPoints .button{margin-top:80px;width:500px;display:block}


/* Header */
header, footer{position:fixed;left:50%;top:0;width:800px;height:100px;margin-left:-400px;background-color:#fbbf0d;z-index:999}
header h1{height:100px;line-height:100px;margin:0 100px;text-align:center;color:#fff;font-size:36px;font-weight:lighter}
header .head_l, header .head_r{position:absolute;left:0;top:0;height:100px;width:100px;text-align:center;line-height:100px}
header .head_r{left:auto;right:0}

/* Footer */
footer{background-color:#fff;bottom:0;top:auto;box-shadow:0 -2px 13px rgba(0,0,0,.22)}
footer a{float:left;width:132px;height:100px;text-align:center;box-sizing:border-box;padding-top:12px}
footer a:nth-child(1){margin-left:24px}
footer a:nth-child(4){margin-left:228px}
footer a:nth-child(3){position:absolute;bottom:20px;left:50%;margin-left:-66px;float:none;display:block;width:132px;height:132px;padding-top:32px;box-sizing:border-box;border-radius:66px;background-color:#fbbc00;border:8px solid #fff;box-shadow:0 0 12px rgba(0,0,0,.2)}
footer a:nth-child(3) em{position:absolute;right:-10px;top:-8px;font-size:22px;background-color:#ed1c24;min-width:40px;height:40px;line-height:40px;text-align:center;border-radius:20px;color:#fff;box-sizing:border-box;padding:0 10px}
footer span{display:block;font-size:23px;margin-top:4px}

/* Main */
#main{position:relative;box-sizing:border-box;padding:100px 0 190px}

/* hpUser */
.hpUser{height:300px;box-sizing:border-box;padding-top:40px;background:url(../imgs/spriteHpUser.jpg) no-repeat center top}
.hpUser .head{float:left;width:184px;height:184px;margin-left:130px;margin-right:20px;overflow:hidden;border-radius:92px;box-shadow:0 3px 3px rgba(0,0,0,.75)}
.hpUser strong{font-size:40px;display:block;color:#000;line-height:70px}
.hpUser p{font-size:30px;line-height:48px}
.hpUser p em{color:#fc8b11;font-size:40px;margin:0 10px;font-weight:bold}
.hpUser .button{margin-top:14px}

/* hpVouchers */
.hpVouchers{padding:18px 0;border-bottom:1px solid #fc8b11}
.hpVouchers li{float:left}
.hpVouchers li a{display:block;height:122px;padding-top:20px;box-sizing:border-box;text-align:center}
.hpVouchers li:first-child a{border-right:1px solid #fc8b11}
.hpVouchers li strong{display:inline-block;line-height:40px;margin-left:10px;font-size:30px;color:#fc8b11;vertical-align:middle}
.hpVouchers li span{font-size:40px;line-height:50px}
.hpVouchers li em{margin:0 10px}

/* hpQuickLink */
.hpQuickLink{margin-top:50px;border-top:1px solid #fc8b11}
.hpQuickLink li{float:left;box-sizing:border-box;border-bottom:1px solid #fc8b11;border-left:1px solid #fc8b11}
.hpQuickLink li:nth-child(1),.hpQuickLink li:nth-child(4){border-left:0}
.hpQuickLink li:nth-child(even){background-color:#ffefea}
.hpQuickLink li a{display:block;height:202px;padding-top:40px;text-align:center}
.hpQuickLink li img{width:200px;height:112px;display:block;margin:0 auto 20px}
.hpQuickLink li span{color:#fc8b11;font-size:30px;line-height:44px}
.hpQuickLink li.nolink span{padding-top:32px;display:inline-block}

/* hpTit */
.hpTit{position:relative;height:192px;margin-bottom:40px;background:url(../imgs/spriteTit.png) no-repeat center top}
.hpTit p{position:absolute;left:67px;top:20px;width:168px;height:168px;line-height:168px;text-align:center}
.hpTit strong{margin-left:276px;font-size:60px;color:#fc8b11;line-height:162px}

/* coupons */
#coupons{position:absolute;left:0;top:0;width:100%;height:100%;min-height:1290px;background-color:#fbbc00}
#coupons h2{padding:200px 0 150px;line-height:100px;text-align:center;color:#fff;font-size:64px}
#coupons h2 span{color:#fc8b11;font-size:80px}
#coupons button{display:block;width:500px;margin:250px auto 0}

/* popGetPoupons */
.popGetPoupons{margin-top:0}
.popGetPoupons h2{padding-top:180px}
.popGetPoupons p{margin:80px auto 200px}
.popGetPoupons button{display:block;width:500px;margin:0 auto}

/* popFailurePoupons */
.popFailurePoupons, .popFailurePoupons_2{margin-top:0}
.popFailurePoupons h2, .popFailurePoupons_2 h2{padding-top:160px}
.popFailurePoupons p, .popFailurePoupons_2 p{margin:60px auto 80px}
.popFailurePoupons button, .popFailurePoupons_2 button{display:block;width:500px;margin:0 auto}
.popFailurePoupons_2 p{margin-top:120px}

/* conceptLink */
.conceptLink{padding-left:44px}
.conceptLink li{float:left;width:178px}
.conceptLink li a{display:block;padding:30px 0;text-align:center;color:#ff8604;font-size:28px;font-weight:bold}
.conceptLink li span{margin-top:10px;display:block}

/* conceptItems */
.conceptItems h2{position:relative;width:582px;height:52px;line-height:52px;margin:0 auto;text-align:center}
.conceptItems h2:before{position:absolute;left:0;width:100%;top:25px;height:2px;content:'';background-color:#888}
.conceptItems h2 span{position:relative;display:inline-block;height:52px;background-color:#fff;padding:0 10px;color:#888}
.conceptSlide{position:relative;height:382px}
.conceptSlide .btnPrev, .conceptSlide .btnNext{position:absolute;top:50%;left:20px;margin-top:-24px;cursor:pointer}
.conceptSlide .btnNext{left:auto;right:20px}
.conceptScroll{width:682px;height:382px;margin:26px auto 0;box-sizing:border-box;padding:8px;overflow:auto;-webkit-overflow-scrolling:touch}
.conceptScroll ul{width:10000px}
.conceptScroll li{float:left;margin-left:46px;width:310px;height:366px;padding:0 16px;box-sizing:border-box;background-color:#ffefea;box-shadow:0 0 8px 2px rgba(0,0,0,.2)}
.conceptScroll li:first-child{margin-left:0}
.conceptScroll li strong{font-size:28px;display:block;line-height:52px;font-weight:bold;color:#ff8604;text-align:center}
.conceptScroll li .img{margin-bottom:6px}
.conceptScroll li p{font-size:24px;color:#888;line-height:32px}
.conceptScroll li p span{font-weight:bold;color:#fc8b11}
.conceptScroll li .button{display:block;font-size:30px;margin-top:6px;height:50px;line-height:50px}

/* content */
.content{padding:60px 30px 0}
.content h2 span{position:relative;display:inline-block;height:60px;line-height:60px;text-align:center;font-size:46px;color:#fff;padding:0 30px;background-color:#fbbc00}
.content h2 span:after{position:absolute;left:100%;width:0;height:0;top:0;border:30px solid #fbbc00;border-color:#fff #fff #fff #fbbc00;content:''}
.content strong{display:block;line-height:40px;margin:30px auto 20px;font-size:32px;color:#fc8b11}
.content strong a{color:#fc8b11}
.content p{position:relative;margin-left:1em;padding-left:1em;font-size:24px;line-height:36px}
.content p:before, .content li:before{content:'';position:absolute;left:0;top:10px;width:16px;height:16px;border-radius:8px;background-color:#fbbc00}
.content li{position:relative;margin-left:1em;padding-left:6em;font-size:24px;line-height:36px}
.content li span{position:absolute;left:1em;top:0}

/* Help */
.helpImg{padding:100px 0 80px}
.helpBtn a{display:block;width:500px;margin:0 auto 30px;line-height:80px}

/* My Coupons */
.myCouponsItems li{height:234px;background-color:#ffefea;margin-bottom:15px;padding:0 80px}
.myCouponsItems li p{float:left;position:relative;margin-top:28px;}
.myCouponsItems li p span{position:absolute;left:14px;bottom:5px;font-size:28px;line-height:36px;color:#fff;}
.myCouponsItems li .button{float:right;margin-top:92px;height:50px;line-height:50px}










